@mixin grid-container (
  $disp: grid,
  $rows: null,
  $columns: null,
  $gap: null
) {
  display: $disp;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
  grid-gap: $gap;
  // justify-items: center;
  @content;
}

@mixin flex-container ($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
  @content;
}

%center-content {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

%border-light {
  border: $light-text solid 1px;
  border-radius: 5px;
}

%border-hover {
  border-color: $display-color;
  box-shadow: 5px 5px 10px grey;
}
