@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@300;400&display=swap');

$display-font: 'Open Sans', sans-serif;
$main-font: 'Raleway', sans-serif;

$display-color: rgb(40,40,40);
$light-text: rgb(164,164,164 );

$breakpoint-med: 768px;
$breakpoint-lg: 1024px;
