@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Mono:wght@300&family=Open+Sans+Condensed:wght@300&family=Shadows+Into+Light&family=Source+Code+Pro&display=swap');

$display-font: 'Amatic SC', cursive;
$main-font: 'Open Sans Condensed', sans-serif;

$bg-color: rgba(220,229,219,0.5);
$display-color: rgb(40,40,40);
$light-text: rgb(164,164,164 );

$breakpoint-med: 768px;
$breakpoint-lg: 1024px;


/// FONT FAMILIES
// font-family: 'Amatic SC', cursive;
//
// font-family: 'DM Mono', monospace;
//
// font-family: 'Open Sans Condensed', sans-serif;
//
// font-family: 'Shadows Into Light', cursive;
//
// font-family: 'Source Code Pro', monospace;
