///// DIRECTORY MAIN PAGE
* {
  box-sizing: border-box;
}

header {
  @extend %center-content;
  padding-top: 30px;
  padding-bottom: 30px;
  @include flex-container (column) {
    justify-content: center;
  };

  h1 {
    text-align: center;
  }
}

.nobr {
  white-space: nowrap;
}

.grid-container {
  @include grid-container (
    $columns: 1fr,
    $rows: auto,
    $gap: 25px
  );
  justify-items: center;
  @extend %center-content;
}

.card {
  @include flex-container(row);
  padding: 15px;
  width: 350px;
}

.text-container {
  margin-left: 15px;
}

///// MODAL LAYOUT

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100,100,100,0.4);
}

.modal {
  width: 300px;
  margin: 5% auto auto;
  position: relative;
  text-align: center;
  padding: 30px;
}

.modal-close {
  position: absolute;
  margin: 0;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

.modal-dir {
  position: absolute;
  margin: 0;
  padding: 10px;
  top: 40%;
  &.arrow-left {
    left: -45px;
  }
  &.arrow-right {
    right: -45px;
  }
}

.hidden {
  display: none;
}

//// MEDIA QUERIES

@media (min-width: $breakpoint-med) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr)
  }

  .modal {
    margin-top: 25%;
  }
}

@media (min-width: $breakpoint-lg) {

  header {
    @include flex-container (row);

    h1 {
      text-align: left;
      flex-grow: 1;
    }
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr)
  }
}
